* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
}

.cover {
    position: relative;
}

.cover .cover-item {
    display: none;
}

.cover-item.active {
    display: block;
}

.cover .cover-img {
    height: 500px;
    width: 900px;
}

.cover .cover-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.cover .text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-align: right;
    width: 80%;
}

.cover .text h2 {
    margin-bottom: 20px;
}

.imglaterali {
    display: flex;
    flex-direction: column;
    position: relative;
}

.imglaterali .img-thumb {
    height: 100px;
    opacity: .3;
    
}

.imglaterali .img-thumb.active {
    border: 2px solid white;
    opacity: 1;
}

.imglaterali .img-thumb img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.imglaterali .btn {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    margin-left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}

.imglaterali .btn.next {
    bottom: 10px;
}

.imglaterali .btn.prev {
    top: 10px;
}